.container {
  margin: 0 auto;
  width: 800px;
  margin-top: 50px;
}

.col {
  float: left;
}

.row {
  height: 100px;
  width: 100px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin: 2px;
}

.move-red {
  border-radius: 50%;
  background-color: red;
}

.move-black {
  border-radius: 50%;
  background-color: black;
}
